.container {
    display: flex;
    /* background-color: antiquewhite; */
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 2rem 2rem;
    flex-wrap: wrap;
}

.form-container {
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.input-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

input {
    outline: none;
    border: 2px solid #47B5FF;
    /* width: 100%; */
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 10px;
}

.add-btn {
    align-self: flex-start;
    background-color: rgb(40, 190, 40);
    border: none;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
}

.add-text {
    color: white;
    font-size: 1.5rem;
}