.show-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 2rem;
}

.show-data-div {
    display: flex;
    width: 90%;
    align-self: flex-start;
    margin-top: 3rem;
    justify-content: space-between;
}

.show-data-box {
    border: 2px solid rgb(161, 157, 157, 0.3);
    width: 77%;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

.remove-btn {
    display: flex;
    background-color: rgb(248, 101, 101);
    border: none;
    border-radius: 10px;
    padding: 1.2rem 1.2rem;
}

.remove-text {
    color: white;
    font-size: 1.5rem;
}